body {
  font-family: lora; 
}

@font-face {
  font-family: lora;
  src: url(fonts/Lora/Lora-Regular.ttf);
}

a {
	color: black;
}

.container {
	margin: 100px 5%;
}

.container h1, p {
	text-align: center;
}

.container h1 {
	margin: 0px 25%;
}

.container .sub-head {
	margin: 0px 33%;
	font-style: italic;
}

.container .article-body {
	margin: 75px 15%;
}

.map-container {
	position: relative;
}

.map-overlay {
	position: absolute;
	top: 0px;
	height: 500px;
	overflow: scroll;
	width: 100%;
}

.map-overlay::-webkit-scrollbar {
  display: none;
}

.hide {
	display: none;
}

.map-text-container {
	margin: 500px 20%;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 15px;
	text-align: right;
}

.observablehq--inspect {
	font-size: 5px;
	display: none;
}

#state-choropleth, #state-choropleth + p {
	display: none;
}

.observablehq svg {
	width: 75%;
	margin: 0px auto;
	display: block;
}

.black {
	fill: black;
}

.data-source {
	font-size: 12px;
}